.singinCard {
  max-width: 500px;
  margin: 100px auto;
  md-card-header {
    height: 100px;
    md-card-title {
      font-size: 80px;
    }
  }
  md-input-container.ng-invalid .mat-input-wrapper,
  md-select.ng-invalid .mat-select-trigger {
    border-right: 0 !important;
  }
}