<md-card class="singinCard">
  <form novalidate
        (ngSubmit)="signIn($event)"
        [formGroup]="signinForm">
    <md-card-header>
      <md-card-title> Sign In </md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input md-input
               placeholder="Organization"
               formControlName="tenant" />
        <span class="input-error"
              *ngFor="let error of getControlErrors(signinForm, 'tenant')">
          {{error}}
          </span>
      </md-input-container>
      <md-input-container class="full-width top-20">
        <input md-input
               placeholder="Username/Email"
               formControlName="username" />
        <span class="input-error"
              *ngFor="let error of getControlErrors(signinForm, 'username')">
          {{error}}
          </span>
      </md-input-container>
      <md-input-container class="full-width top-20">
        <input md-input
               placeholder="Password"
               type="password"
               formControlName="password" />
        <span class="input-error"
              *ngFor="let error of getControlErrors(signinForm, 'password')">
          {{error}}
          </span>
      </md-input-container>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button
              type="submit"
              color="primary"
              [disabled]="!signinForm.valid">Sign In</button>
        <button md-raised-button
                type="button"
                (click)="onForgotPassword.emit()"
                color="accent">Forgot Password</button>
    </md-card-actions>
    </form>
</md-card>