<md-card class="singinCard">
  <md-card-header>
    <md-card-title> Sign In </md-card-title>
  </md-card-header>
  <md-card-content>
    <form (ngSubmit)="signIn()">
      <md-input-container class="full-width">
        <input md-input
               placeholder="Organization"
               value="" />
      </md-input-container>
      <md-input-container class="full-width top-20">
        <input md-input
               placeholder="Username/Email"
               value="" />
      </md-input-container>
      <md-input-container class="full-width top-20">
        <input md-input
               placeholder="Password"
               type="password"
               value="" />
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button
            type="submit"
            color="primary">Sign In</button>
      <button md-raised-button
              color="accent">Forgot Password</button>
  </md-card-actions>
</md-card>