<md-card>
  <form novalidate
        (ngSubmit)="saveAccount()"
        [formGroup]="accountForm">
    <md-card-header>
      <md-card-title> Account Form </md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput
               placeholder="Account Name"
               formControlName="name" />
        <span class="input-error"
              *ngIf="displayMessage.name">
          {{displayMessage.name}}
        </span>
      </md-input-container>
      <md-input-container class="full-width top-20">
        <input mdInput
               placeholder="Display Name"
               formControlName="displayName" />
        <span class="input-error"
              *ngIf="displayMessage.displayName">
          {{displayMessage.displayName}}
        </span>
      </md-input-container>
      <md-input-container class="full-width top-20">
        <input mdInput
               placeholder="Account code"
               formControlName="code" />
        <span class="input-error"
              *ngIf="displayMessage.code">
          {{displayMessage.code}}
        </span>
      </md-input-container>
      <md-select class="full-width top-20"
                 placeholder="Account Group"
                 formControlName="accountGroupId">
        <md-option *ngFor="let accountGroup of accountGroups"
                   [value]="accountGroup.id">
          {{accountGroup.value}}
        </md-option>
        <!--BUG: Error message not visible-->
        <span class="inspanut-error"
              *ngIf="displayMessage.accountGroupId">
          {{displayMessage.accountGroupId}}
        </span>
      </md-select>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button
              type="submit"
              color="primary"
              [disabled]="!accountForm.valid">Add Account</button>
    </md-card-actions>
  </form>
</md-card>