<md-card>
  <md-card-title> {{mode}} Account </md-card-title>
  <md-card-subtitle> This page allows to manage account </md-card-subtitle>
  <md-divider></md-divider>

  <form novalidate
        (ngSubmit)="saveAccount()"
        [formGroup]="accountForm">
    <md-card-content>
      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-input-container flex>
          <input mdInput
                 placeholder="Account Name"
                 formControlName="name" />
          <span class="input-error"
                *ngIf="displayMessage.name">
            {{displayMessage.name}}
          </span>
        </md-input-container>
        <md-input-container flex>
          <input mdInput
                 placeholder="Display Name"
                 formControlName="displayName" />
          <span class="input-error"
                *ngIf="displayMessage.displayName">
            {{displayMessage.displayName}}
          </span>
        </md-input-container>
      </div>
      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-input-container flex>
          <input mdInput
                 placeholder="Account code"
                 formControlName="code" />
          <span class="input-error"
                *ngIf="displayMessage.code">
            {{displayMessage.code}}
          </span>
        </md-input-container>
        <md-select flex
                   placeholder="Account Group"
                   formControlName="accountGroupId">
          <md-option *ngFor="let accountGroup of accountGroups"
                     [value]="accountGroup.id">
            {{accountGroup.value}}
          </md-option>
          <!--BUG: Error message not visible-->
          <span class="inspanut-error"
                *ngIf="displayMessage.accountGroupId">
            {{displayMessage.accountGroupId}}
          </span>
        </md-select>
      </div>
      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-slide-toggle flex
                         color="primary"
                         [checked]="!!account.openingBalance"
                         (change)="toggleOpeningBalance($event)">
          Opening Balance
        </md-slide-toggle>
        <md-input-container flex>
          <input mdInput
                 placeholder="Opening Balance Amount"
                 formControlName="openingBalance" />
          <span class="input-error"
                *ngIf="displayMessage.openingBalance">
            {{displayMessage.openingBalance}}
          </span>
        </md-input-container>
        <md-radio-group flex
                        formControlName="openingBalanceType">
          <md-radio-button *ngFor="let type of transactionTypes"
                           [name]="type.name"
                           [value]="type.value">{{type.name}} {{type|json}} </md-radio-button>
        </md-radio-group>
      </div>
      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-input-container flex>
          <textarea mdInput
                    placeholder="Address"
                    formControlName="address">
          </textarea>
          <span class="input-error"
                *ngIf="displayMessage.address">
            {{displayMessage.address}}
          </span>
        </md-input-container>
      </div>
      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-select flex
                   placeholder="State"
                   formControlName="stateId">
          <md-option *ngFor="let state of states"
                     [value]="state.id">
            {{state.name}}
          </md-option>
        </md-select>
        <md-input-container flex>
          <input mdInput
                 placeholder="Ward"
                 formControlName="ward" />
          <span class="input-error"
                *ngIf="displayMessage.ward">
            {{displayMessage.ward}}
          </span>
        </md-input-container>
      </div>
      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-input-container flex>
          <input mdInput
                 placeholder="IT Pan Number"
                 formControlName="itPanNumber" />
          <span class="input-error"
                *ngIf="displayMessage.itPanNumber">
            {{displayMessage.itPanNumber}}
          </span>
        </md-input-container>
        <md-input-container flex>
          <input mdInput
                 placeholder="LST Number"
                 formControlName="lstNumber" />
          <span class="input-error"
                *ngIf="displayMessage.lstNumber">
            {{displayMessage.lstNumber}}
          </span>
        </md-input-container>
        <md-input-container flex>
          <input mdInput
                 placeholder="CST Number"
                 formControlName="cstNumber" />
          <span class="input-error"
                *ngIf="displayMessage.cstNumber">
            {{displayMessage.cstNumber}}
          </span>
        </md-input-container>
      </div>
      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-input-container flex>
          <input mdInput
                 placeholder="TIN Number"
                 formControlName="tinNumber" />
          <span class="input-error"
                *ngIf="displayMessage.tinNumber">
            {{displayMessage.tinNumber}}
          </span>
        </md-input-container>
        <md-input-container flex>
          <input mdInput
                 placeholder="Service Tax Number"
                 formControlName="serviceTaxNumber" />
          <span class="input-error"
                *ngIf="displayMessage.serviceTaxNumber">
            {{displayMessage.serviceTaxNumber}}
          </span>
        </md-input-container>
      </div>

      <div formArrayName="contactPersons"
           *ngFor="let person of contactPersons.controls; let i=index">
        <div [formGroupName]="i">
          <td-expansion-panel label="Contact Person {{i+1}}"
                              sublabel="Person associated with account"
                              [expand]="person.value.id === 0">
            <td-expansion-summary>
              <md-list>
                <fs-person-summary [personForm]="person"
                                   (onPersonDelete)="deleteContact(i)"></fs-person-summary>
              </md-list>
            </td-expansion-summary>
            <fs-person [personForm]="person"></fs-person>
          </td-expansion-panel>
        </div>
      </div>

    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions align="end">
      <a md-button
         [routerLink]="['', 'accounts']">Back</a>

      <button md-button
              type="button"
              (click)="addPerson()">Add Contact</button>

      <button md-raised-button
              type="submit"
              color="primary"
              [disabled]="!accountForm.valid">{{mode}} Account</button>
    </md-card-actions>
  </form>
</md-card>