// @import '../../node_modules/@covalent/core/common/platform.css';

/* Angular Material Theme */

@import '~@angular/material/core/theming/all-theme';

/* Covalent Theme */

//@import '~@covalent/core/theming/all-theme';
// Plus imports for other components in your app.
// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
//@include covalent-theme($candy-app-theme);
@import '../../node_modules/@covalent/core/data-table/data-table-theme';
@import '../../node_modules/@covalent/core/paging/paging-bar-theme';
// @import '../data-table/data-table-theme';
// @import '../layout/layout-theme';
// @import '../steps/steps-theme';
// @import '../expansion-panel/expansion-panel-theme';
// @import '../file/file-theme';
// @import '../loading/loading-theme';
// @import '../json-formatter/json-formatter-theme';
// @import '../notifications/notification-count-theme';
// Create a theme.
@mixin covalent-theme($candy-app-theme) {
  // @include td-layout-theme($candy-app-theme);
  // @include td-steps-theme($candy-app-theme);
  // @include td-expansion-panel-theme($candy-app-theme);
  // @include td-chips-theme($candy-app-theme);
  // @include td-file-theme($candy-app-theme);
  // @include td-json-formatter-theme($candy-app-theme);
  @include td-paging-bar-theme($candy-app-theme);
  // @include td-loading-theme($candy-app-theme);
  @include td-data-table-theme($candy-app-theme);
  // @include td-notification-count-theme($candy-app-theme);
}