<div [formGroup]="personForm">
  <div layout="column"
       layout-gt-xs="row"
       layout-margin>
    <md-input-container flex>
      <input mdInput
             placeholder="First Name"
             formControlName="firstname" />
      <span class="input-error"
            *ngIf="displayMessage.firstname">
        {{displayMessage.firstname}}
      </span>
    </md-input-container>
    <md-input-container flex>
      <input mdInput
             placeholder="Last Name"
             formControlName="lastname" />
      <span class="input-error"
            *ngIf="displayMessage.lastname">
        {{displayMessage.lastname}}
      </span>
    </md-input-container>
  </div>
  <div layout="column"
       layout-gt-xs="row"
       layout-margin>
    <md-input-container flex>
      <input mdInput
             placeholder="Email"
             formControlName="emailId" />
      <span class="input-error"
            *ngIf="displayMessage.emailId">
        {{displayMessage.emailId}}
      </span>
    </md-input-container>
    <md-input-container flex>
      <input mdInput
             placeholder="Mobile No"
             formControlName="mobile" />
      <span class="input-error"
            *ngIf="displayMessage.mobile">
        {{displayMessage.mobile}}
      </span>
    </md-input-container>
  </div>
  <div layout="column"
       layout-gt-xs="row"
       layout-margin>
    <md-input-container flex>
      <textarea mdInput
                placeholder="Description"
                formControlName="description">
      </textarea>
      <span class="input-error"
            *ngIf="displayMessage.description">
        {{displayMessage.description}}
      </span>
    </md-input-container>
  </div>
</div>