<md-card>
  <md-card-title> {{mode}} Item </md-card-title>
  <md-card-subtitle> This page allows to manage Item </md-card-subtitle>
  <md-divider></md-divider>

  <form novalidate
        (ngSubmit)="saveItem()"
        [formGroup]="itemForm">
    <md-card-content>
      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-input-container flex>
          <input mdInput
                 placeholder="Item Name"
                 formControlName="name" />
          <span class="input-error"
                *ngIf="displayMessage.name">
            {{displayMessage.name}}
          </span>
        </md-input-container>
        <md-input-container flex>
          <input mdInput
                 placeholder="Item code"
                 formControlName="code" />
          <span class="input-error"
                *ngIf="displayMessage.code">
            {{displayMessage.code}}
          </span>
        </md-input-container>
        <md-select flex
                   placeholder="Item Group"
                   formControlName="itemGroupId">
          <md-option *ngFor="let itemGroup of itemGroups"
                     [value]="itemGroup.value">
            {{itemGroup.name}}
          </md-option>
          <!--BUG: Error message not visible-->
          <span class="inspanut-error"
                *ngIf="displayMessage.itemGroupId">
            {{displayMessage.itemGroupId}}
          </span>
        </md-select>
      </div>

      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-input-container flex>
          <textarea mdInput
                    placeholder="Description"
                    formControlName="description">
          </textarea>
          <span class="input-error"
                *ngIf="displayMessage.description">
            {{displayMessage.description}}
          </span>
        </md-input-container>
      </div>

      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-select flex
                   placeholder="Unit"
                   formControlName="unitId">
          <md-option *ngFor="let unit of units"
                     [value]="unit.id">
            {{unit.name}} ({{unit.code}})
          </md-option>
          <!--BUG: Error message not visible-->
          <span class="inspanut-error"
                *ngIf="displayMessage.unitId">
            {{displayMessage.unitId}}
          </span>
        </md-select>
        <md-input-container flex>
          <input mdInput
                 placeholder="Quantity"
                 formControlName="quantity" />
          <span class="input-error"
                *ngIf="displayMessage.quantity">
            {{displayMessage.quantity}}
          </span>
        </md-input-container>
      </div>

      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-select flex
                   placeholder="Size"
                   formControlName="size">
          <md-option *ngFor="let size of sizes"
                     [value]="size.value">
            {{size.name}}
          </md-option>
        </md-select>
        <md-input-container flex>
          <input mdInput
                 placeholder="Weight"
                 formControlName="weight" />
          <span class="input-error"
                *ngIf="displayMessage.weight">
            {{displayMessage.weight}}
          </span>
        </md-input-container>
        <md-input-container flex>
          <input mdInput
                 placeholder="Safety Stock Level"
                 formControlName="safetyStockLevel" />
          <span class="input-error"
                *ngIf="displayMessage.safetyStockLevel">
            {{displayMessage.safetyStockLevel}}
          </span>
        </md-input-container>
      </div>

      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-input-container flex>
          <input mdInput
                 placeholder="Standard Cost"
                 formControlName="standardCost" />
          <span class="input-error"
                *ngIf="displayMessage.standardCost">
            {{displayMessage.standardCost}}
          </span>
        </md-input-container>
        <md-input-container flex>
          <input mdInput
                 placeholder="List Price"
                 formControlName="listPrice" />
          <span class="input-error"
                *ngIf="displayMessage.listPrice">
            {{displayMessage.listPrice}}
          </span>
        </md-input-container>
      </div>

      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <div flex>
          <md-checkbox formControlName="isSelfMade">Self Made</md-checkbox>
        </div>
        <div flex>
          <md-checkbox formControlName="isFinishedGood">Finished Good</md-checkbox>
        </div>
        <div flex>
          <td-file-upload #itemImageFileUpload
                          [accept]="allowedFileExtensions"
                          (select)="onImageSelectEvent($event)">
            <md-icon *ngIf="encodingInProgress"
                     class="md-icon-spin">autorenew</md-icon>
            <md-icon *ngIf="!encodingInProgress">image</md-icon>
            <span>{{ itemImageFileUpload.files?.name }}</span>
            <template td-file-input-label>
              <md-icon>attach_file</md-icon>
              <span>Choose Item Image</span>
            </template>
          </td-file-upload>
        </div>
      </div>

      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <md-input-container flex>
          <input mdInput
                 placeholder="Color"
                 formControlName="color" />
          <span class="input-error"
                *ngIf="displayMessage.color">
            {{displayMessage.color}}
          </span>
        </md-input-container>
        <md-input-container flex>
          <input mdInput
                 placeholder="ReOrder Point"
                 formControlName="reorderPoint" />
          <span class="input-error"
                *ngIf="displayMessage.reorderPoint">
            {{displayMessage.reorderPoint}}
          </span>
        </md-input-container>
      </div>

      <div layout="column"
           layout-gt-xs="row"
           layout-margin>
        <!--TODO: Replace with material datepicker-->
        <md-input-container flex>
          <input mdInput
                 placeholder="Sell Start Date"
                 formControlName="sellStartDate" />
          <span class="input-error"
                *ngIf="displayMessage.sellStartDate">
            {{displayMessage.sellStartDate}}
          </span>
        </md-input-container>
        <md-input-container flex>
          <input mdInput
                 placeholder="Sell End Date"
                 formControlName="sellEndTime" />
          <span class="input-error"
                *ngIf="displayMessage.sellEndTime">
            {{displayMessage.sellEndTime}}
          </span>
        </md-input-container>
        <md-input-container flex>
          <input mdInput
                 placeholder="Days To Manufacture"
                 formControlName="daysToManufacture" />
          <span class="input-error"
                *ngIf="displayMessage.daysToManufacture">
            {{displayMessage.daysToManufacture}}
          </span>
        </md-input-container>
      </div>

    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions align="end">
      <a md-button
         [routerLink]="['', 'items']">Back</a>

      <button md-raised-button
              type="submit"
              color="primary"
              [disabled]="!itemForm.valid || encodingInProgress">{{mode}} Item</button>
    </md-card-actions>
  </form>
</md-card>