<h1 md-dialog-title>{{title}}</h1>
<form novalidate
      (ngSubmit)="addUpdateAccountGroup($event)"
      [formGroup]="accountGroupForm">
  <div style="height: 170px;"
       md-dialog-content>
    <md-input-container class="full-width top-20">
      <input mdInput
             placeholder="Account Group Name"
             formControlName="name" />
      <span class="input-error"
            *ngIf="displayMessage.name">
        {{displayMessage.name}}
      </span>
    </md-input-container>
    <md-input-container class="full-width top-20">
      <input mdInput
             placeholder="Account Group Display Name"
             formControlName="displayName" />
      <span class="input-error"
            *ngIf="displayMessage.displayName">
        {{displayMessage.displayName}}
      </span>
    </md-input-container>
  </div>
  <div md-dialog-actions
       align="end">
    <button md-raised-button
            type="submit"
            color="primary"
            [disabled]="!accountGroupForm.valid">
      {{ isReadonly ? 'Close' : parent.mode }}
    </button>
  </div>
</form>